.title {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
}

.title::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(./icons/lock.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 8px;
    left: 5px;
}

.title::after {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(./icons/koz.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 8px;
    right: 10px;
}

.input {
padding-left: 30px;
padding-right: 30px;    
}